table {
  border-collapse: collapse;
  border: 1px solid;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: auto;
}
table thead {
  background-color: #795548;
  color: rgb(252, 248, 248);
}
body h1 {
  text-align: center;
  font-style: italic;
}
